// color
color-border = rgba(#000, 0.1)
color-bg = #e5e5e5

.flex-center
  display: flex
  justify-content: center
  align-items: center

.flex-center-c
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center



// Media queries
mq-xs = "(max-width: 767px)"
mq-sm = "(max-width: 991px)"