@import "_variables";
// @import "_util/mixin";
// @import "_util/grid"
@import "_extend";  
@import "lib/bootstrap.min.css"
@import "lib/animate.css"

html, body, #container
  height: 100%
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  background: #f8f8f8

#wrap
  overflow: hidden
  float: none
  margin: 0 auto
  padding: 0

#header
  position: fixed
  top: 50%
  transform: translateY(-50%)
  text-align: right
  @media mq-xs
    position: relative
    top: 0
    transform: none;
    text-align: center;

.main-box
  height: 100%
  @media mq-xs
    padding: 0 5px

#main
  // width: 100%
  padding: 30px 0;
  // max-width: 960px;
  @media mq-xs
    float: none
    padding: 15px 0

#footer-mp
  text-align: center
  margin-bottom: 15px

a
  color: #333

li
  list-style-type: none

blockquote
  font-size: 12px

.head-img
    display: inline-block
    width: 50px
    height: 50px
    margin-top: 50px
    background: url('../head.jpg') no-repeat
    background-size: cover
    border: 1px solid color-border
    overflow: hidden

#fadeInUp {
  -vendor-animation-duration: 2s
  -vendor-animation-delay: 2s
  -vendor-animation-iteration-count: infinite
}

@import "_partial/article"
@import "_partial/footer"
@import "_partial/header"
@import "_partial/archive"
@import "_partial/widget"  
@import "_partial/highlight"
