#header
  h1
    font-size: 32px
    small 
      padding: 0 5px
      color: #ffffff
      background: rgba(#000, 0.3)
  .intro
    color: #666
  @media mq-xs
    padding: 0
    .head-mp
      position: fixed
      z-index: 100
      box-shadow: 0 2px 5px rgba(#000, 0.1)
      top: 0
      width: 100%
      height: 60px
      background: #fff;
      text-align: left
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 15px
      h1
        font-size: 16px
        font-weight: bold
        margin: 0
      .head-nav-toggle
        cursor: pointer
        padding: 5px 10px
        border: 1px solid color-border
    .intro
      margin: 75px 5px 0 5px
      padding: 90px 15px 30px
      background: #fff
      background: url('images/banner.jpg') no-repeat
      background-size: 100% auto
      background-attachment: fixed;
      background-position: top center
      color: rgba(#fff, 0.8)
      font-size: 16px
      text-shadow: 0 2px 3px rgba(#000, 0.6)
      font-weight: 200

#head-nav
  padding-top: 15px
  position: relative
  display: flex
  justify-content: flex-start
  align-items: flex-end
  flex-flow: column wrap
  height: auto !important
  .nav-link
    display: block
    margin-bottom: 5px
    border-width: 1px
    border-style: solid 
    border-color: color-bg
    padding: 2px 10px
    background: #ffffff
    &:hover
      text-decoration: none
      color: #333
      border-color: #666
  @media mq-xs
    position: fixed
    z-index: 101
    top: 60px
    right: 15px
    background: #fff
    padding: 0
    overflow: hidden
    height: 0
    box-shadow: 0 2px 2px rgba(#000, 0.1)
    opacity: 0
    transform: scaleY(0)
    transform-origin: top right
    transition: transform 400ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms
    .head-nav-ul
      transform: scaleX(0)
      transform-origin: top right
      transition: transform 200ms cubic-bezier(0.47, 0, 0.4, 0.99) 0ms
    .nav-link
      display: block
      margin: 0
      width: 120px
      border: none
      font-size: 16px
      padding: 10px
      text-align: left
      font-weight: bold
      color: #888888
      opacity: 0;
      transition: opacity 100ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
.head-navlist
  opacity: 1 !important
  transform: scaleY(1) !important
  transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1) !important
  .head-nav-ul
    transform: scaleX(1) !important
    transition: transform 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important
  .nav-link
    opacity: 1 !important
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms !important
    // -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms !important
    