.widget-wrap
  margin-bottom: 30px
  background: #ffffff
  padding: 15px
  transition: all 0.3s
  @media mq-xs
    padding: 15px 10px
  .widget-title
    font-size: 20px
    margin: 0
    padding: 10px 0
    margin-bottom: 15px
    border-bottom: 1px solid color-border
  .tagcloud a
    padding: 5px
  .category-list
    padding: 0
